<ion-header>
  <ion-toolbar>
    <ion-title>MENU</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Cerrar sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menu-container">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="assets/source/Asignaturas.png" alt="Mis asignaturas">
            <ion-card-content>
              Mis asignaturas
            </ion-card-content>
          </ion-card>
          <ion-button expand="block" [routerLink]="['/asignaturas']">
            Ver Detalles
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img src="assets/source/Asistencia.png" alt="Mis asistencias">
            <ion-card-content>
              Mis asistencias
            </ion-card-content>
          </ion-card>
          <ion-button expand="block" [routerLink]="['/asistencias']">
            Ver Detalles
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card>
            <img src="assets/source/Lector.png" alt="Leer QR">
            <ion-card-content>
              Leer QR
            </ion-card-content>
          </ion-card>
          <ion-button expand="block" [routerLink]="['/lector-qr']">
            Ver Detalles
          </ion-button>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <img src="assets/source/contraseña.jpg" alt="Cambiar clave">
            <ion-card-content>
              Cambiar clave
            </ion-card-content>
          </ion-card>
          <ion-button expand="block" [routerLink]="['/cambio-clave']">
            Ver Detalles
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
