<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title>Asignaturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="asignaturas-container">
    <ion-card *ngFor="let asignatura of asignaturas" [ngClass]="{'asignatura-profesor': esAsignaturaDelProfesor(asignatura.id)}" class="asignatura-card">
      <img [src]="asignatura.imagen" alt="Imagen de asignatura" class="asignatura-img">
      <ion-card-content class="asignatura-content">
        <h2 [ngClass]="{'asignatura-profesor-texto': esAsignaturaDelProfesor(asignatura.id)}">{{ asignatura.nombre }}</h2>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>