<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main"></ion-back-button>
    </ion-buttons>
    <img src="assets/DuocLogo.png" alt="No disponible" id="duoclogo">
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <h3 id="h3registrQR">Registrar asistencia</h3>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Registrar Asistencia</ion-title>
      </ion-toolbar>
    </ion-header>
    <zxing-scanner (scanSuccess)="handleQrCodeResult($event)"></zxing-scanner>
    <div *ngIf="scanResult">
      <p>Resultado del escaneo: {{ scanResult }}</p>
    </div>
    <div *ngIf="message">
      <p>{{ message }}</p>
    </div>
  </div>
</ion-content>